/* This code was writen by Gabriela Polanco Ferreyra and Tomas Scattini in October 2020 */


/* General styles */

body {
    background-color: white;
    margin: 0;
    height: 100%;
    /* font-size: 16px;
    background-color: #6db3d7; */
}

.btn {
    background-color: #D49F0B;
    font-family: 'Salsa', cursive;
    height: 50px;
    color: black;
    border-radius: 1px;
    text-decoration: none;
    font-size: 19px;
    transition-duration: 0.5s;
    border: 0.4px #D49F0B;
    cursor: pointer;
    outline-color: white;
    transition: all 0.5s cubic-bezier(.82, .28, .83, .67);
}

.btn:hover {
    outline-offset: 20px;
    text-shadow: 3px 3px 4px white;
    transform: scale(1.9);
}

.container-cover,
.container-rules,
.container-characters {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 600px;
    align-items: center;
    margin: 0 auto;
}

.container-rules,
.container-characters,
#secondbutton,
#container-game,
#card,
#arrow-next,
#next-question,
#game-over {
    display: none;
}


/* Game cover */

#portada {
    width: 1000px;
}


/* Rules */

.container-rules {
    justify-content: space-between;
    background-color: #F5F0DA;
    padding-bottom: 50px;
    margin-top: 20px;
    position: relative;
}

#maquina-de-escribir {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 600px;
    top: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    font-family: "Special Elite";
}


/* Characters */

#vagamundo1 {
    height: 100%;
}


/* Game */

#container-game {
    /* display: flex; */
    position: relative;
    align-items: center;
    padding: 0 50px;
    background-image: url('../images/papiro.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#canvas {
    border: 1px solid brown;
    box-sizing: border-box;
}

#objects-over-canvas {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1000px;
    /* background-color: green; */
}

#card {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 700px;
    background-image: url('../images/tarjetas.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* #f5f0da */
}

#card h2 {
    color: black;
    font-size: 2rem;
}

.answer-btn {
    max-height: 70px;
    width: 150px;
    margin: 0 10px;
    padding: 20px;
    background-color: #b07f48;
    color: white;
    font-size: 1.3rem;
}

.answer-btn:hover {
    opacity: .8;
    cursor: pointer;
}

#buttons-level1 {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#buttons-level2 {
    display: none;
    height: 200px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* Objects outside canvas */

#objects-outside-canvas {
    position: relative;
    width: 350px;
    height: 600px;
    margin-left: 20px;
}


/* Lives */

#lives {
    display: block;
    top: 0;
    left: 10px;
}

#lives img {
    display: inline-block;
    height: 50px;
    width: auto;
    margin-left: 2px;
}


/* Instructions and signs */

#arrow-next,
#next-question {
    top: 100px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

#arrow-next span {
    display: inline-block;
    position: relative;
    animation: down 1s infinite;
}

@keyframes down {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

#game-over {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50px;
}

#game-over h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 8rem;
    color: red;
}