/* This code was writen by Gabriela Polanco Ferreyra (https://github.com/gabipolanco) and Tomas Scattini (https://github.com/Tomasscattini) in October 2020 */


/* General styles */

body {
    background-color: white;
    margin: 0;
    height: 100%;
    /* font-size: 16px;
    background-color: #6db3d7; */
}

.btn {
    background-color: #D49F0B;
    font-family: "Special Elite";
    height: 70px;
    padding: 15px;
    color: black;
    border-radius: 1px;
    text-decoration: none;
    font-size: 1.2rem;
    border: 0.4px #D49F0B;
    cursor: pointer;
    outline-color: white;
    transition: all 0.5s cubic-bezier(.82, .28, .83, .67);
}

.btn:hover {
    outline-offset: 20px;
    text-shadow: 3px 3px 4px white;
    transform: scale(1.9);
}

.container-cover,
.container-rules,
.container-rules2,
.container-characters,
.container-win {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 600px;
    align-items: center;
    margin: 0 auto;
}

.container-rules,
.container-rules2,
.container-characters,
.container-naima,
.container-bernard,
#siguiente,
#container-game,
#input-level3,
#card,
#reloj,
#arrow-next,
#next-question,
#game-over,
#try-again,
.container-win {
    display: none;
}


/* Game cover */

.container-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/papiro.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#portada {
    width: 1000px;
}


/* Rules */

.container-rules,
.container-rules2 {
    justify-content: space-between;
    background-color: #F5F0DA;
    padding-bottom: 50px;
    margin-top: 20px;
    position: relative;
}

#maquina-de-escribir,
#win-content,
#subtitle {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 600px;
    top: 70px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    font-family: "Special Elite";
}

#subtitle {
    top: 0;
}

#rules2 {
    width: auto;
    height: 100%;
}


/* Characters */

.container-characters {
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    width: 1000px;
    margin: 0 auto;
}

.container-characters img {
    height: 100%;
    width: auto;
    margin: 0 20px;
    transition: all .5s ease;
}

.container-characters img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#bernard-char {
    height: 80%;
    margin-top: 70px;
}

.container-naima,
.container-bernard {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#naima,
#bernard {
    height: 100%;
}

#naima-description,
#bernard-description {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 400px;
    top: 200px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    font-family: "Special Elite";
}


/* Game */

#container-game {
    /* display: flex; */
    position: relative;
    align-items: center;
    padding: 0 50px;
    background-image: url('../images/papiro.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Special Elite";
}

#canvas {
    border: 10px dashed #b17f4a;
    box-sizing: border-box;
}

#objects-over-canvas {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1000px;
    /* background-color: green; */
}

#card {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 700px;
    background-image: url('../images/tarjetas.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* #f5f0da */
}

#card h2 {
    display: inline-block;
    text-align: justify;
    width: 550px;
    color: black;
    font-size: 2rem;
}

.answer-btn {
    font-family: "Special Elite";
    max-height: 70px;
    width: 170px;
    margin: 0 10px;
    padding: 20px;
    background-color: #b07f48;
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
}

.answer-btn:hover {
    opacity: .8;
    cursor: pointer;
}

#buttons-level1 {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#buttons-level2 {
    display: none;
    height: 200px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#input-level3 {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-level3 input {
    height: 70px;
    width: 300px;
    font-family: "Special Elite";
    font-size: 2rem;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
    text-align: center;
}


/* Objects outside canvas */

#objects-outside-canvas {
    position: relative;
    width: 350px;
    height: 600px;
    margin-left: 20px;
}


/* Lives */

#objects-outside-canvas p {
    font-size: 1.5rem;
}

#lives {
    display: block;
    top: 0;
    left: 10px;
}

#lives img {
    display: inline-block;
    height: 50px;
    width: auto;
    margin-left: 2px;
}


/* Reloj */

#reloj {
    width: 100%;
}

#reloj .circulo {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #3b8ec3;
    margin: 50px auto;
}

#reloj .number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    font-size: 3rem;
    text-align: center;
    background-color: #f5f0da;
    /* background-image: url('../images/brujulavida.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    border-radius: 50%;
}


/* Instructions and signs */

#arrow-next,
#next-question {
    margin-top: 100px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

#arrow-next span {
    display: inline-block;
    position: relative;
    animation: down 1s infinite;
}

@keyframes down {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

#nivel {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#nivel p {
    text-align: right;
}

#game-over {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 61px;
    left: 60px;
}

#game-over h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 9rem;
    color: red;
    transform: rotate(-15deg);
}

#try-again {
    margin: 40px 80px;
}