                        body {
                            background-color: white;
                            margin: 0;
                            height: 100%;
                            /* overflow: hidden */
                        }
                        
                        .container-cover,
                        .container-rules,
                        .container-characters {
                            display: flex;
                            flex-direction: column;
                            width: 1200px;
                            height: 600px;
                            align-items: center;
                            margin: 0 auto;
                        }
                        
                        #portada {
                            width: 1000px;
                        }
                        
                        .container-rules {
                            justify-content: space-between;
                            background-color: #F5F0DA;
                            padding-bottom: 50px;
                            position: relative;
                        }

                        #maquina-de-escribir{
                            width: 600px ;
                            height: 400px;
                            position: absolute;
                            left: 600px;
                            top: 50px;
                            padding:20px;
                            box-sizing: border-box;
                            font-size: 25px;
                            text-align: center;
                            font-family: "Special Elite";


                        }
                        
                        #vagamundo1 {
                            height: 100%;
                        }
                        
                        .btn {
                            background-color: #D49F0B;
                            font-family: 'Salsa', cursive;
                            height: 50px;
                            color: black;
                            border-radius: 1px;
                            text-decoration: none;
                            font-size: 19px;
                            transition-duration: 0.5s;
                            border: 0.4px #D49F0B;
                            cursor: pointer;
                            outline-color: white;
                            transition: all 0.5s cubic-bezier(.82, .28, .83, .67);
                        }
                        
                        .btn:hover {
                            outline-offset: 20px;
                            text-shadow: 3px 3px 4px white;
                            transform: scale(1.9);
                        }

                        #secondbutton {
                            display: none;
                        }
                        
                        .container-rules,
                        .container-characters {
                            display: none;
                        }